################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KjosAssignment4/.vs/KjosAssignment4/FileContentIndex/13eea69f-be0e-4e97-b66a-303f58c6540f.vsidx
/KjosAssignment4/.vs/KjosAssignment4/FileContentIndex/21baf978-7f06-4e24-928c-2aa7e514d9cf.vsidx
/KjosAssignment4/.vs/KjosAssignment4/FileContentIndex/3a53103d-2f6b-4bc8-b4ba-adb21d2f0295.vsidx
/KjosAssignment4/.vs/KjosAssignment4/FileContentIndex/5c5d9d83-5d96-46d3-b123-bd4ca4eb5d82.vsidx
/KjosAssignment4/.vs/KjosAssignment4/FileContentIndex/75106284-5a22-4e3f-8c17-e7a5366d891b.vsidx
/KjosAssignment4/.vs/KjosAssignment4/FileContentIndex
/.vs/CSCI213Assignment4/FileContentIndex/86190ed9-e0a2-4ad8-aba2-1e43323c4855.vsidx
/.vs/CSCI213Assignment4/FileContentIndex/c59be279-910e-4739-937c-37e6b746c707.vsidx
